OS_VERSION="C7"
CMAKE_COMMAND=cmake

# path to (Open)MPI
MPIDIR=/usr/lib64/openmpi

# optimization flags (used for C and C++ code)
CXXFLAGS="-Wall -mfpmath=sse -msse3"
CXXFLAGSRELEASE="-O3"

# linker flags
LINKERFLAGS="-lhdf5_hl"
LINKERFLAGSRELEASE="-O2"

# library path (3d party libraries for BACI)
INCLUDE_INSTALL_DIR="/home/tawiesn/TPL/include"
LIB_INSTALL_DIR="/home/tawiesn/TPL/lib"

# path to Trilinos
#Trilinos_PREFIX="/home/tawiesn/TPL/trilinos-build/"
Trilinos_PREFIX="/home/tawiesn/TPL/trilinos/"

# Trilinos package configuration
TRILINOS_DEV=ON
BUILD_Teko=OFF
BUILD_MueLu=ON
BUILD_HAVE_Trilinos_Q3_2014=ON

# libM replacement
AMDLIBMDIR_PATH=""

# AMD core math library BLAS/LAPACK replacement
ACMLDIR_PATH=""
BLAS_LIBS=""
LAPACK_LIBS=""
BLA_VENDORSTRING=""

# boost library
BOOST_INCLUDEDIR=/usr/include
BOOST_LIBRARYDIR=/usr/lib64
USE_USERSPECIFIED_BOOST="OFF" # bypass cmake FindBoost script (default: OFF)

# Cubit PATH (only needed for framework tests)
CUBIT_PATH=
